/* GENERAL*/

@font-face {
    font-family: "Lato";
    src: url('../police/Lato-Regular.ttf');
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    src: url('../police/Lato-Italic.ttf');
}

@font-face {
    font-family: "Lato";
    font-weight: bold;
    src: url('../police/Lato-Bold.ttf');

}

body {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.button1 {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
    background: transparent;
}

.button1:hover {
    background: white;
    color: #00b5cc;
    text-decoration: none;
}


img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 45px 0 80px 0;
}

section .heading {
    text-align: center;
    padding-bottom: 40px;
}

section .heading h2 {
    text-transform: uppercase;
}

.blue-divider {
    width: 100px;
    height: 2px;
    background: #00b5cc;
    margin: 10px auto;
}

.white-divider {
    width: 100px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
}

ul,
ol {
    list-style: none;
}

/*MENU*/
.navbar {
    background: #00b5cc;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;

}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar li a {
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li .active a {
    color: #00b5cc !important;
    background-color: #fff !important;

}

.navbar-default .navbar-toggle {
    border-style: none;

}

.icon-bar {
    background-color: #fff !important;
}

#linkedin {
    text-align: center;
}






/*---  NEW  ------*/
.blue
{
    color: #0069d6;
}
.form-control
{
    height: 50px;
    font-size: 18px;
}
#contact-form input[type=submit]
{
    margin: 40px auto 0px;
    display: block;
}
.comments
{
    font-style: italic;
    font-size: 18px;
    color: #d82c2e;
    height: 25px
}
#contact-form .thank-you
{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}











































/*contact*/
#contact {
    background: #00b5cc;
}

#contact .heading h2 {
    color: #fff;
}

#contact-form {
    font-size: 20px;
    color: #fff;
}


.form-control {
    height: 50px;
    font-size: 18px;
}

#contact-form input[type=submit] {
    margin: 40px auto 0px;
    display: block;
}

.comments {
    font-style: italic;
    font-size: 18px;
    color: rgb(217, 17, 17);
    height: 25px;
    
}

#contact-form .thank-you {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}